{% extends 'base.html' %}
{% block app_content %}
{#    <h1>Добрый день </h1>#}

{#    {% block title %}Просмотр{% endblock %}#}
    <h1>Расчеты</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Название</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for calc in calcs %}
            <tr>
                <td>{{ calc["id_calc"] }}</td>
                <td>{{ calc["name"] }}</td>
                <td class="text-right">
                    <div class="row">
                        <form action="{{ url_for('main.add_log') }}" method="post" class="pull-right">
                            <input type="hidden" name="id_calc" value="{{ calc["id_calc"] }}">
                            <input type="hidden" name="name" value="{{ calc["name"] }}">
                            <input type="submit" class="btn btn-primary pull-right" data-toggle="confirmation"
                                   data-btn-ok-label="Да" data-btn-ok-class="btn-success"
                                   data-btn-cancel-label="Нет" data-btn-cancel-class="btn-danger"
                                   data-title="Действительно запустить?" value="Запустить">
                        </form>
{#                        <a class="btn btn-primary pull-right"#}
{#                           href="">Запустить</a>#}
                    </div>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}


