{% extends 'base.html' %}
{% block app_content %}
    {#    <h1>Добрый день </h1>#}

    {#    {% block title %}Просмотр{% endblock %}#}
    <h1>Запущенные расчеты ЦО</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Время выполнения</th>
            <th scope="col">Номер</th>
            <th scope="col">Статус</th>
            <th scope="col">Название</th>
            <th scope="col">Дата запуска</th>
            <th scope="col">Дата завершения</th>
            <th scope="col">Расчетная дата</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log["time"] }}</td>
                <td>{{ log["id_calc"] }}</td>
                <td>{{ log["status"] }}</td>
                <td>{{ log["name"] }}</td>
                <td>{{ log["startdate"] }}</td>
                <td>{{ log["enddate"] }}</td>
                <td>{{ log["calcdate"] }}</td>
                <td class="text-right">
                    <div class="row">
                        <form action="{{ url_for('main.delete_log') }}" method="post" class="pull-right">
                            <input type="hidden" name="id" value="{{ log["id"] }}">
                            <input type="submit" class="btn btn-danger" data-toggle="confirmation"
                                   data-btn-ok-label="Да" data-btn-ok-class="btn-success"
                                   data-btn-cancel-label="Нет" data-btn-cancel-class="btn-danger"
                                   data-title="Действительно остановить?" value="Остановить">
                        </form>
{#                        <a class="btn btn-primary pull-right"#}
{#                           href="">Перезапустить</a>#}
                    </div>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}


